{% extends 'workouts/base.html' %}

{% block content %}

<ul class="exercises-container">
    {% if user.is_authenticated %}
        <a href="/workouts/exercises/create" class="btn btn-primary new-workout">Create a new exercise</a>
    {% for exercise in specific_workout %}
        <li class="exercise-list-container">
            <p class="exercise-big-name">Exercise</p>
            <p class="exercise-value">
                {{ exercise.exercise_name }}
            </p>
            <p class="exercise-small-name">Number of sets</p>
            <p class="exercise-value">
                {{ exercise.num_sets }}
            </p>
            <p class="exercise-small-name">Number of reps</p>
            <p class="exercise-value">
                {{ exercise.num_reps }}
            </p>
            <p class="exercise-small-name">Weight (in lbs)</p>
            <p class="exercise-value">
                {{ exercise.weight_in_pounds }} lbs.
            </p>
            <p class="exercise-small-name">Rest in between sets (in seconds)</p>
            <p class="exercise-value">
                {{ exercise.rest_time_between_sets_in_seconds }}s
            </p>
            <a href="/workouts/exercises/{{exercise.id}}/update/" class="btn btn-secondary">Edit</a>
            <a href="/workouts/exercises/{{exercise.id}}/delete/" class="btn btn-danger">Delete</a>
        </li>
    {% endfor %}
    <a href="/workouts/" class="btn btn-secondary">Back to workouts</a>
    {% endif %}
</ul>

{% endblock %}