{% extends 'workouts/base.html' %}

{% block content %}

<ul class="exercises-container">
    <a href="/workouts/exercises/create" class="new-workout">Create a new exercise</a>
{% for exercise in specific_workout %}
    <li class="exercise-list-container">
        <p class="exercise-big-name">Exercise</p>
        <p class="exercise-value">
            {{ exercise.exercise_name }}
        </p>
        <p class="exercise-small-name">Number of sets</p>
        <p class="exercise-value">
            {{ exercise.num_sets }}
        </p>
        <p class="exercise-small-name">Number of reps</p>
        <p class="exercise-value">
            {{ exercise.num_reps }}
        </p>
        <p class="exercise-small-name">Weight (in lbs)</p>
        <p class="exercise-value">
            {{ exercise.weight_in_pounds }} lbs.
        </p>
        <p class="exercise-small-name">Rest in between sets (in seconds)</p>
        <p class="exercise-value">
            {{ exercise.rest_time_between_sets_in_seconds }}s
        </p>
    </li>
{% endfor %}
</ul>

{% endblock %}