{% extends 'workouts/base.html' %}

{% block content %}

<main class="index-container">
    {% if user.is_authenticated %}
    {% if workouts %} 
        <ul>
            <a href="/workouts/create/" class="btn btn-primary">Create a new workout</a>
            {% for workout in workouts %}
                <li class="workout-index">
                    <a href="{% url 'workouts:detail' workout.id %}">{{ workout.workout_name }}</a>
                    <div class="workout-index-buttons">
                        <a href="/workouts/{{workout.id}}/update/" class="btn btn-secondary">Edit name</a>
                        <a href="/workouts/{{workout.id}}/delete/" class="btn btn-danger">Delete</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %} 
        <div class="no-workouts">
            <a href="/workouts/create" class="new-workout btn btn-primary">Create a new workout</a>
            <h1>There are currently no workouts logged.</h1>
        </div>
    {% endif %}
    {% endif %}
</main>

{% endblock %}