@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
:root {
    --main-color: rgb(14, 14, 14);
    --secondary-color: rgb(0, 0, 0);
    --nav-words: rgb(215, 215, 215);
    --form-background-color: rgba(0, 0, 0, 0.413);
}

html {
    padding: 0;
}

body {
    color: white;
    background-color:var(--main-color);
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 100%;
}

.nav-bar {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    min-height: 50px;
    position: fixed;
    width: 100%;
}

.nav-home, .nav-workouts, .nav-signup {
    color: var(--nav-words);
    font-size: 20px;
    text-decoration: none;
    font-weight: 100;
    transition: all 300ms;
}

.nav-home:hover, .nav-workouts:hover, .nav-signup:hover {
    color: white;
    transform: scale(1.2);
    text-decoration: none;
}

.exercises-container, main {
    padding: 6em 1.5em 0 1.5em;
    min-height: 90vh;
    margin: 0;
}

.temporary-home-header {
    padding: 3em 0 0 0.75em;
    min-height: 75vh;
    margin: 0;
}

.exercise-list-container {
    border-bottom: 1px solid rgb(155, 155, 155);
}

.exercise-list-container:last-child {
    border-bottom: none;
}

footer {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13vh;
    width: 100%;
    color: var(--nav-words);
    font-weight: 300;
    padding-bottom: 5vh;
}

.workouts-container {
    list-style: none;
}

.workout-index {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    margin-top: 20px;
}

.workout-index:hover, .new-workout:hover, .new-exercise:hover {
    color: rgb(121, 150, 255);
}

.new-workout, .new-exercise {
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 10% 5%;
    background-color: rgba(0, 0, 0, 0.632);
    border-radius: 10px;
    padding: 2em 1em;
}

.login-form-container {
    display: flex;
    align-items: center;
    background: url('imgs/login-background.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.login-button {
    width: 50%;
}

.signup-form {
    margin-top: 5%;
}

.workout-form-container {
    background: url('imgs/workout-form-background.jpeg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.workout-form-container > h1 {
    margin-top: 3em;
}

.workout-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--form-background-color);
    border-radius: 10px;
    padding: 2em 1em;
    width: 32%;
}

.workout-form-buttons {
    display: flex;
}

.workout-form-buttons > a, .workout-form-buttons > input, .exercise-form-buttons > a, .exercise-form-buttons > input {
    margin: 0 1em;
}

.landing-page {
    background: url('imgs/main-background.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.exercise-form-container {
    background: url('imgs/exercise-form-background.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.exercise-form {
    background-color: var(--form-background-color);
    border-radius: 10px;
    padding: 2em 1em;
    width: 40%;
    margin-top: 3%;
}

.index-container {
    background: url('imgs/index-background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.index-container > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.workout-index {
    background-color: rgba(0, 0, 0, 0.605);
    border-radius: 10px;
    padding: 0.5em;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workout-index > a {
    color: rgb(255, 255, 97);
}

.workout-index > a:hover {
    text-decoration: none;
}

.workout-index:last-child {
    margin-bottom: 2em;
}